<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebMSort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WebMSort.Properties.Settings>
            <setting name="FFmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RenamingMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSFilename" serializeAs="String">
                <value>ns_</value>
            </setting>
            <setting name="SFilename" serializeAs="String">
                <value>s_</value>
            </setting>
            <setting name="NSFolderName" serializeAs="String">
                <value>no_sound</value>
            </setting>
            <setting name="SFolderName" serializeAs="String">
                <value>sound</value>
            </setting>
        </WebMSort.Properties.Settings>
    </userSettings>
</configuration>